.sidebar{transition:.5s;width:280px}.small-sidebar{transition:1s;width:75px}.menu:before{font-size:1rem;transform:scale(1.5)}.myButton{background:#0d6efd}.myButton:hover{border:1px solid #97a2af}.small-sidebar .myButton{display:none;transition:1s}.doera{background-color:#0d6efd;border-radius:50%;padding:5px}.small-sidebar .doera:hover{background-color:#fff;padding:2px;transition:all .5s}.small-sidebar .sidebar-text{display:none;transition:1s}.nav-link:hover{background-color:#757575}.info{border-radius:10px;box-shadow:16px 14px 20px #0000008c;cursor:pointer;display:block;height:300px;margin:30px auto;overflow:hidden;position:relative;top:60px;width:250px}.info img{height:100%;-o-object-fit:cover;object-fit:cover;transition:1s;width:100%}.info .caption{background:linear-gradient(rgba(0,132,255,.362),rgba(0,0,0,.895));height:300px;margin-left:-20px;position:absolute;text-align:center;top:100%;transition:.7s;width:250px}.info:hover .caption{top:0}.info:hover img{transform:scale(1.2)}.form-signin{max-width:330px;padding:15px}.form-signin .form-floating:focus-within{z-index:2}.form-signin input[type=email]{border-bottom-left-radius:0;border-bottom-right-radius:0;margin-bottom:-1px}.form-signin input[type=password]{border-top-left-radius:0;border-top-right-radius:0;margin-bottom:10px}  .status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}
.status-indicator.active {
    background-color: green;
}
.status-indicator.inactive {
    background-color: red;
}
